
@media(max-width: 709px){
    .logo_rm{
        margin-left: 15px;
    }
    .home{
        margin-top: 10%;
    }
    section.home > div.informacoes{
        display: flex;
        align-items: center;
    }

    .timeline-content{
        font-size: 12px;
        padding: 25px 25px;
    }
    .text_education{
        text-align: center;
    }
}


@media(max-width: 468px){
    .logo_rm{
        margin-left: 15px;
    }
    .text_education{
        text-align: center;
        font-size: 20px;
    }
    .home .informacoes h1{
        font-size: 30px;
    }

    .home .informacoes p{
        font-size: 16px;
    }

    .home .container-foto img{
        max-width: 320px;
    }

    .projetos{
        padding: 30px;
    }
    .timeline-content{
        text-align: center;
    }
    .timeline-content h3{
        font-size: 16px;
    }
    .timeline-content p{
        font-size: 12px;
    }
}

@media(max-width: 380px){
    .text_education{
        display: none;
    }
    .timeline-content{
        text-align: center;
        padding: 10px;
    }

    .timeline-content h3{
        font-size: 14px;
        padding-top: 10px;
    }

    .timeline-item{
        padding: 0px;
    }

    .footer > p.copyright{
        font-size: 12px;
    }
}
@media(min-width: 710px){
    .home .informacoes{
        width: 95%;
    }

    .skills__content{
        justify-content: center;
        gap: 10%;
    }

    .texto_some{
        display: none;
    }
    .cabecalho{
        padding: 30px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0px;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .projetos .container-projetos{
        padding: 0 30px;
    }
    .txt_animado span{
        position: relative;
    }
    
    .txt_animado span::before{
        content: "";
        color: #c376f3;
        animation: palavras 8s infinite;
    }
    
    .txt_animado span::after{
        content: "";
        position: absolute;
        height: 100%;
        border-left: 2.5px solid white;
        right: -10px;
        animation: cursor 0.8s infinite, digita 20s steps(50) infinite;
        width: calc(100% + 14px);
        background: linear-gradient(150deg, #10001B,#180028, #210035);
    }
    .footer{
        width: 100%;
    }
    
    @keyframes digita{
        10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
            width: 0;
        }
        5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
            width: calc(100% + 14px);
        }
    }
    
    @keyframes cursor{
        0%{
            border-left: 2.5px solid black;
        }
    }
    
    @keyframes palavras {
        0%, 65%{
            content: "sou Raphael Machado!";
        }
        66%, 100%{
            content: "sou dev front-end!";
        }
    }

}
@media(min-width: 1150px) {
    .home .informacoes{
        width: 70%;
    }
    .skills__content{
        justify-content: center;
        gap: 10%;
    }

    .texto_some{
        display: none;
    }
    .cabecalho{
        padding: 30px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0px;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .projetos .container-projetos{
        padding: 0 30px;
    }
    .txt_animado span{
        position: relative;
    }
    
    .txt_animado span::before{
        content: "";
        color: #c376f3;
        animation: palavras 8s infinite;
    }
    
    .txt_animado span::after{
        content: "";
        position: absolute;
        height: 100%;
        border-left: 2.5px solid white;
        right: -10px;
        animation: cursor 0.8s infinite, digita 20s steps(50) infinite;
        width: calc(100% + 14px);
        background: linear-gradient(150deg, #1A002A,#1D0030, #210035);
    }
    .footer{
        width: 100%;
    }
    
    @keyframes digita{
        10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
            width: 0;
        }
        5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
            width: calc(100% + 14px);
        }
    }
    
    @keyframes cursor{
        0%{
            border-left: 2.5px solid black;
        }
    }
    
    @keyframes palavras {
        0%, 65%{
            content: "sou Raphael Machado";
        }
        66%, 100%{
            content: "sou dev front-end";
        }
    }
}

@media(min-width: 1400px){
    .home .informacoes{
        width: 70%;
    }
    .skills__content{
        justify-content: center;
        gap: 10%;
    }

    .texto_some{
        display: none;
    }
    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0px;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .projetos .container-projetos{
        padding: 0 30px;
    }
    .txt_animado span{
        position: relative;
    }
    
    .txt_animado span::before{
        content: "";
        color: #c376f3;
        animation: palavras 8s infinite;
    }
    
    .txt_animado span::after{
        content: "";
        position: absolute;
        height: 100%;
        border-left: 2.5px solid white;
        right: -10px;
        animation: cursor 0.8s infinite, digita 20s steps(50) infinite;
        width: calc(100% + 14px);
        background: linear-gradient(150deg, #190029,#210036, #280042);
    }
    .footer{
        width: 100%;
    }
    
    @keyframes digita{
        10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
            width: 0;
        }
        5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
            width: calc(100% + 14px);
        }
    }
    
    @keyframes cursor{
        0%{
            border-left: 2.5px solid black;
        }
    }
    
    @keyframes palavras {
        0%, 65%{
            content: "sou Raphael Machado";
        }
        66%, 100%{
            content: "sou dev front-end";
        }
    }
}
