html{
    color: white;
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;

    background: linear-gradient(150deg, rgb(0, 0, 0),#9d00ff, #000000);
    background-size: 130% 130%;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid white;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    font-family: "Raleway", sans-serif;
    
    transition: 0.3s;
}

.cabecalho a:hover .logo{
    color: #9443d8;
    border: 2px solid #9443d8;
}

.cabecalho  ul{
    display: flex;
    gap: 12px;
}

.cabecalho li a{
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    
    transition: 0.3s;
}

.cabecalho li a:hover{
    background-color: #9443d8;
    color: white;
    border-radius: 50px;
}

.home{
    display: flex;
    min-height: calc(100vh - 125px);
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.home .informacoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.home .informacoes h1{
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
}

.home .informacoes p{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.home .redes-sociais{
    display: flex;
    gap: 20px;
}

.home .redes-sociais a i{
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;

    transition: 0.4s;
}

.home .redes-sociais a i:hover{
    color: #9443d8;
    border: 1px solid #9443d8;
    transform: scale(1.1); /* super importante */
}
.home .container-foto .foto{
    max-width: 100%;
    border-radius: 50%;
}
.home .container-foto{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .foto.sombra-interna{
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to right, #8A35C8, #18C063, #00EEA2);
    border-radius: 50%;
    text-align: center;
    background-size: 150% 150%;
    animation: gradient-animation 5s ease infinite;
    cursor: pointer;
}
.home .container-foto img{
    width: 60%;
    height: 100%;
    border-radius: 50%;
    rotate: 0deg;
    cursor: pointer;
}


.projetos{
    padding: 70px 0;
}

.projetos .titulo{
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.projetos .titulo:hover{
    text-shadow: 0px 0px 5px black;
}

.projetos .container-projetos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.projetos .container-projetos .projeto{
    max-width: 260px;
    max-height: 500px;
    position: relative;
    display: none;
}

.projetos .projeto.ativo{
    display: block;
}

.projetos .projeto img{
    height: 100%;
}

.projetos .projeto h3{
    background-color: #040203;
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}

.projetos .projeto .informacoes-projeto{
    background-color: #040203;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.4s;

    padding: 20px;
}

.projetos .projeto .informacoes-projeto:hover{
    opacity: 0.75;
    background-color: black;
}

.projetos .btn-mostrar-projetos{
    background: none;
    border: 1px solid white;
    border-radius: 18px;
    color: white;
    white-space: 180px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover{
    background-color: #9443d8;
    transition: 0.4s;
}

/*sumir ao receber essa class*/
.projetos .btn-mostrar-projetos.remover{
    display: none;
}

.skills {
    margin-top: 25%;
}

.info__title{
    letter-spacing: 3px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.info__title:hover{
    text-shadow: 0px 0px 5px black;
}

.skills__img {
    width: 55px;
    margin-bottom: .5rem;
    cursor: pointer;
}

.skills__name {
    font-size: small;
    cursor: pointer;
    margin-bottom: 25%;
}

.skills__name:hover {
    text-decoration: underline;
}

.skills__content {
    display: grid; /* Adicionando display grid */
    grid-template-columns: repeat(3, max-content);
    justify-content: space-around;
    align-items: flex-end;
}

div.skills__box{
    display: grid;
    place-items: center;
    transition: transform .4s;
}

.skills__box:hover{
    transform: translateY(-.25rem);
}

@keyframes gradient-animation {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}